{% extends "pages/abstract/default.html.twig" %}

{% set page_active = "npie" %}

{# Overrides blocks in head of base template #}

{% block page_title %}Practice Information Form{% endblock %}


{% block body_matter %}
    <div id="alerts-page"></div>

    <form class="form-inline npie" method="post" action="{{ site.uri.public }}/intake/3">
        {% include "forms/csrf.html.twig" %}

        {%  if office_id %}
        <input type="text" hidden name="office_id" value="{{ office_id }}">
        {% else %}
        <div class="office-select">
            <select class="form-control" name="office_id" id="offices">
                <option value="">Please Select Your Office</option>
                {% for office in offices %}
                    <option value="{{ office.office_id }}">{{ office.name }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        {% verbatim %}
<script id="adult-row" type="text/x-handlebars-template">
    <tr class="uf-collection-row">
         <td>
            <div class="adult-section" id="{{rownum}}">
                <div class="row">
                    <div class="col-xs-10">
                        <h2>Adult NPIE Details</h2>
                    </div>
                    <div class="col-xs-2 pull-right">
                        <button type="button" class="btn btn-link btn-trash js-delete-row pull-right" title="Delete"> <i class="fa fa-times"></i> </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback radio">
                            New patient can be scheduled in Doctor or Hygiene chair?
                            <div class="radio">
                                <label for="adult[{{ rownum }}][scheduled]">
                                    <input type="radio" name="adult[{{ rownum }}][scheduled]" id="adult[{{ rownum }}][scheduled]" value="Yes">
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label for="adult[{{ rownum }}][scheduled]">
                                    <input type="radio" name="adult[{{ rownum }}][scheduled]" id="adult[{{ rownum }}][scheduled]" value="No">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="adult[{{ rownum }}][chair]" class="control-label">Which chair do you schedule new adult patients
                                in?
                            </label>
                            <select class="form-control" name="adult[{{ rownum }}][chair]" id="adult[{{ rownum }}][chair]">
                                <option value="">Please select</option>
                                <option value="hygiene">Hygiene</option>
                                <option value="doctor">Doctor</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="adult[{{ rownum }}][hyg_units]" class="control-label">Hygiene Units</label>
                            <select class="form-control" name="adult[{{ rownum }}][hyg_units]" id="adult[{{ rownum }}][hyg_units]">
                                <option value="">Please select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="adult[{{ rownum }}][dr_units]" class="control-label">Doctor Units</label>
                            <select class="form-control" name="adult[{{ rownum }}][dr_units]" id="adult[{{ rownum }}][dr_units]">
                                <option value="">Please select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback radio">
                            Is the first visit exam and x-rays only?
                            <div class="radio">
                                <label for="adult[{{ rownum }}][first_visit]" class="control-label">
                                    <input type="radio" name="adult[{{ rownum }}][first_visit]" id="adult[{{ rownum }}][first_visit]" value="Yes">
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label for="adult[{{ rownum }}][first_visit]" class="control-label">
                                    <input type="radio" name="adult[{{ rownum }}][first_visit]" id="adult[{{ rownum }}][first_visit]" value="No">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group has-feedback radio">
                            Does the patient get a cleaning the same day?
                            <div class="radio">
                                <label for="adult[{{ rownum }}][cleaning]" class="control-label">
                                    <input type="radio" name="adult[{{ rownum }}][cleaning]" id="adult[{{ rownum }}][cleaning]" value="Yes">
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label for="adult[{{ rownum }}][cleaning]" class="control-label">
                                    <input type="radio" name="adult[{{ rownum }}][cleaning]" id="adult[{{ rownum }}][cleaning]" value="No">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script>
{% endverbatim %}

        <div id="adult-div">
            <table class="table">
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="adult-button-row">
            <a class="btn btn-default repeat-div pull-right"><i class="fa fa-plus"></i> Add Adult NPIE</a><br>
        </div>

        {% verbatim %}
<script id="child-row" type="text/x-handlebars-template">
    <tr class="uf-collection-row">
         <td>
            <div class="child-section" id="{{rownum}}">
                <div class="row">
                    <div class="col-xs-10">
                        <h2>Child NPIE Details</h2>
                    </div>
                    <div class="col-xs-2 pull-right">
                        <button type="button" class="btn btn-link btn-trash js-delete-row pull-right" title="Delete"> <i class="fa fa-times"></i> </button>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback radio">
                            New patient can be scheduled in Doctor or Hygiene chair?
                            <div class="radio">
                                <label for="child[{{ rownum }}][scheduled]">
                                    <input type="radio" name="child[{{ rownum }}][scheduled]" id="child[{{ rownum }}][scheduled]" value="Yes">
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label for="child[{{ rownum }}][scheduled]">
                                    <input type="radio" name="child[{{ rownum }}][scheduled]" id="child[{{ rownum }}][scheduled]" value="No">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="child[{{ rownum }}][chair]" class="control-label">Which chair do you schedule new child patients
                                in?
                            </label>
                            <select class="form-control" name="child[{{ rownum }}][chair]" id="child[{{ rownum }}][chair]">
                                <option value="">Please select</option>
                                <option value="hygiene">Hygiene</option>
                                <option value="doctor">Doctor</option>
                            </select>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="child[{{ rownum }}][hyg_units]" class="control-label">Hygiene Units</label>
                            <select class="form-control" name="child[{{ rownum }}][hyg_units]" id="child[{{ rownum }}][hyg_units]">
                                <option value="">Please select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="child[{{ rownum }}][dr_units]" class="control-label">Doctor Units</label>
                            <select class="form-control" name="child[{{ rownum }}][dr_units]" id="child[{{ rownum }}][dr_units]">
                                <option value="">Please select</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group has-feedback radio">
                            Is the first visit exam and x-rays only?
                            <div class="radio">
                                <label for="child[{{ rownum }}][first_visit]" class="control-label">
                                    <input type="radio" name="child[{{ rownum }}][first_visit]" id="child[{{ rownum }}][first_visit]" value="Yes">
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label for="child[{{ rownum }}][first_visit]" class="control-label">
                                    <input type="radio" name="child[{{ rownum }}][first_visit]" id="child[{{ rownum }}][first_visit]" value="No">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group has-feedback radio">
                            Does the patient get a cleaning the same day?
                            <div class="radio">
                                <label for="child[{{ rownum }}][cleaning]" class="control-label">
                                    <input type="radio" name="child[{{ rownum }}][cleaning]" id="child[{{ rownum }}][cleaning]" value="Yes">
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label for="child[{{ rownum }}][cleaning]" class="control-label">
                                    <input type="radio" name="child[{{ rownum }}][cleaning]" id="child[{{ rownum }}][cleaning]" value="No">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
                </td>
    </tr>
</script>
{% endverbatim %}


        <div id="child-div">
            <table class="table">
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="child-button-row">
            <a class="btn btn-default repeat-div pull-right"><i class="fa fa-plus"></i> Add Child NPIE</a><br>
        </div>
        <button type="submit" class="btn btn-orange  pull-right">Next ></button>
    </form>

{% endblock %}



{% block scripts_page %}
    <!-- Include validation rules -->
    <script>
        {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include page-specific JS -->
    {{ assets.js('js/intake') | raw }}

    <script>

        //submit form
        $(".npie").ufForm({
            msgTarget: $("#alerts-page"),
            validators: page.validators.npie
        }).on("submitSuccess.ufForm", function (event, data, textStatus, jqXHR) {
            var id = $('input[name="office_id"]').val();
            window.location.replace(site.uri.public + "/intake/3?id="+id);
        }).on("submitError.ufForm", function (event, data, textStatus, jqXHR) {
            console.log(data.responseText);
        });
    </script>

{% endblock %}
