{#<nav class="navbar navbar-expand-lg">#}
    {#<div class="container">#}

        {#{% block navbar_logo %}#}
            {#<a href="{{ site.uri.public }}" class="navbar-brand">#}
                {#<img src="https://www.meritdental.com/wp-content/themes/midwest-2016/images/MidwestDental_logo.png"#}
                     {#alt="logo" class="logo">#}
            {#</a>#}
        {#{% endblock %}#}

        {#<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
                {#aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
            {#<span class="navbar-toggler-icon"></span>#}
        {#</button>#}

        {#<div class="collapse navbar-collapse" id="navbarSupportedContent">#}
            {#<ul class="navbar-nav mr-auto">#}
                {#<li class="nav-item">#}

                    {#<form id="searchAll" action="" method="GET">#}
                        {#<div class="input-group">#}
                            {#<input type="text" class="search form-control"#}
                                   {#placeholder="search by zip, office name or doctor"#}
                                   {#aria-label="search by zip, office name or doctor" aria-describedby="button-addon2"#}
                                   {#name="location_name">#}

                            {#<div class="input-group-append">#}
                                {#<button class="btn btn-outline-orange" type="submit" id="button-addon2" value="search"#}
                                        {#name="submit">#}
                                    {#<i class="fa fa-search"></i>#}
                                {#</button>#}
                            {#</div>#}
                        {#</div>#}

                    {#</form>#}


                {#</li>#}

                {#<li class="nav-item dropdown pull-right">#}
                    {#<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
                       {#data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
                        {#Dropdown#}
                    {#</a>#}
                    {#<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
                        {#<a class="dropdown-item" href="#">Action</a>#}
                        {#<a class="dropdown-item" href="#">Another action</a>#}
                        {#<div class="dropdown-divider"></div>#}
                        {#<a class="dropdown-item" href="#">Something else here</a>#}
                    {#</div>#}
                {#</li>#}

            {#</ul>#}

            {#<!-- /.navbar-collapse -->#}
            {#<!-- Navbar Right Menu -->#}
            {#<div class="navbar-custom-menu">#}
                {#<ul class="nav navbar-nav">#}
                    {#{% block secondary_nav %}#}
                        {#{% if not checkAuthenticated() %}#}
                            {#<li>#}
                                {#<a href="{{ site.uri.public }}/account/sign-in"#}
                                   {#class="nav-highlight">{{ translate("SIGNIN") }}</a>#}
                            {#</li>#}
                        {#{% else %}#}
                            {#{% include "navigation/user-card.html.twig" %}#}
                        {#{% endif %}#}
                    {#{% endblock %}#}
                {#</ul>#}
            {#</div>#}
            {#<!-- /.navbar-custom-menu -->#}
        {#</div>#}
    {#</div>#}
{#</nav>#}


<div class="container">
    <div class="row nav">
        <div class="col-sm-1 no-l-pad">
            <a href="{{ site.uri.public }}">
                <img src="https://www.meritdental.com/wp-content/themes/midwest-2016/images/MidwestDental_logo.png"
                     alt="logo" class="logo">
            </a>
        </div>
        <div class="col-sm-7">
            <form id="searchAll" action="{{ site.uri.public }}/search/" method="get" class="navbar-form">
                <div class="form-group">
                    <input type="text" class="search form-control" placeholder="search by zip, office name or doctor"
                           aria-label="search by zip, office name or doctor" aria-describedby="button-addon2">
                    <button class="btn btn-outline-orange" type="submit" id="button-addon2">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col-sm-2">
            <ul class="menu">
                <li class="dropdown">
                    <a href="#" id="forms" class="dropdown-toggle btn btn-default btn-flat" data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true" aria-expanded="false">Forms <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://meritdental.com/wp-content/uploads/2017/04/Common-Treatment-Plan-Codes-01-30-2018.pdf"
                               target="_blank">
                                Common Treatment Plan Codes <i class="fa fa-external-link-alt"></i></a>
                        </li>
                        <li>
                            <a href="https://meritdental.com/wp-content/uploads/2017/04/CEC-QA-Form-04-25-2017.pdf"
                               target="_blank">
                                CEC QA Form <i class="fa fa-external-link-alt"></i></a>
                        </li>
                        <li>
                            <a href="https://meritdental.com/wp-content/uploads/2017/04/Meeting-Agendas.docx"
                               target="_blank">
                                Meeting Agendas <i class="fa fa-external-link-alt"></i></a>
                        </li>
                        <li>
                            <a href="/update/" target="_blank">CEC UPDATE <i class="fa fa-external-link-alt"></i></a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
        <div class="col-sm-1 pull-right">
            <form class="logout pull-right" method="post" action="">
                {#<button class="btn btn-outline-orange" type="submit" id="logout" value="logout" name="logout">#}
                {#Log Out#}
                {#<i class="fas fa-sign-out-alt"></i>#}
                {#</button>#}

                {#<a href="{{ site.uri.public }}/account/logout"#}
                {#class="btn btn-default btn-flat">{{ translate("LOGOUT") }}</a>#}
                <!--                <input id="logout" name="logout" type="submit" value="Log Out">-->
                <!--                <i class="fas fa-sign-out-alt"></i>-->


            </form>
        </div>


        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                {% block secondary_nav %}
                    {% if not checkAuthenticated() %}
                        <li>
                            <a href="{{ site.uri.public }}/account/sign-in"
                               class="nav-highlight">{{ translate("SIGNIN") }}</a>
                        </li>
                    {% else %}
                        {% include "navigation/user-card.html.twig" %}
                    {% endif %}
                {% endblock %}
            </ul>
        </div>
        <!-- /.navbar-custom-menu -->

    </div>
</div>
