{% extends "pages/abstract/default.html.twig" %}

{% set page_active = "intake" %}

{# Overrides blocks in head of base template #}

{% block page_title %}Practice Information Form{% endblock %}

{% block stylesheets_page %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker3.css">
{% endblock %}

{% block body_matter %}
    {#<h1>Welcome to the CEC Support App</h1>#}

    <div id="alerts-page"></div>

    <form class="form-inline intake" method="post" action="{{ site.uri.public }}/intake/npie">

        {% include "forms/csrf.html.twig" %}
        <div class="office-select">
            <select class="form-control" name="office_id" id="offices">
                <option value="">Please Select Your Office</option>
                {% for office in offices %}
                    <option value="{{ office.office_id }}">{{ office.name }}</option>
                {% endfor %}
            </select>
        </div>


        {% verbatim %}
<script id="dentist-details-row" type="text/x-handlebars-template">
    <tr class="uf-collection-row">
         <td>
            <div class="dentist-section" id="{{rownum}}">
                <div class="row">
                    <div class="col-xs-10">

                    {{#ifCond rownum 0 }}
                        <h2 id="dentist[{{ rownum }}][id]">Dentist 1 Details</h2>
                        {{else}}
                        <h2 id="dentist[{{ rownum }}][id]">Dentist {{ math rownum "+" 1 }} Details</h2>
                    {{/ifCond}}
                        <input type="hidden" name="dentist[{{ rownum }}][id]" value="">
                    </div>
                    <div class="col-xs-2 pull-right">
                        <button type="button" class="btn btn-link btn-trash js-delete-row pull-right" title="Delete"> <i class="fa fa-times"></i> </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5">
                        <div class="form-group has-feedback">
                            <label for="dentist[{{ rownum }}][full-name]" class="control-label">Dentist Full Name</label>
                            <input type="text" class="form-control customer" name="dentist[{{ rownum }}][full-name]" id="dentist[{{ rownum }}][full-name]"
                                   placeholder="Full Name">
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="form-group has-feedback">
                            <label for="dentist[{{ rownum }}][provider-num]" class="control-label">DentalVision Provider Number (6
                                digits)
                            </label>
                            <input type="text" class="form-control" id="dentist[{{ rownum }}][provider-num]" placeholder="000000"
                                   name="dentist[{{ rownum }}][provider-num]">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group has-feedback">
                            <label for="dentist[{{ rownum }}][called-name]" class="control-label">How does the doctor refer to themself with
                                patients? (i.e. Dr. Steven Smith likes patients to call him Dr. Steve)
                            </label>
                            <input type="text" id="dentist[{{ rownum }}][called-name]" name="dentist[{{ rownum }}][called-name]" class="form-control">
                        </div>

                        <div class="form-group has-feedback">
                            <label for="dentist[{{ rownum }}][emer-num]" class="control-label">Dentist Emergency Number
                            </label>
                            <input type="text" id="dentist[{{ rownum }}][emer-num]" name="dentist[{{ rownum }}][emer_num]" class="form-control">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group has-feedback radio">
                            Permanent or Locum?
                            <div class="radio">
                                <label for="dentist[{{ rownum }}][permanent]">
                                    <input type="radio" name="dentist[{{ rownum }}][locum]" id="dentist[{{ rownum }}][permanent]" value="Y">
                                    Permanent
                                </label>
                            </div>
                            <div class="radio">
                                <label for="dentist[{{ rownum }}][locum]">
                                    <input type="radio" name="dentist[{{ rownum }}][locum]" id="dentist[{{ rownum }}][locum]" value="N">
                                    Locum
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="dentist[{{ rownum }}][start-date]" class="control-label">When did this doctor start at your
                                location?
                            </label>
                            <div class="inline-feedback input-group">
                                <span class="input-group-addon input-group-override">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control datepicker" id="dentist[{{ rownum }}][start-date]"
                                       name="dentist[{{ rownum }}][start_date]">
                            </div>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <label for="dentist[{{ rownum }}][exit-date]" class="control-label">If the doctor is exiting, what is their
                                last day seeing patients?
                            </label>

                            <div class="inline-feedback input-group">
                                <span class="input-group-addon input-group-override">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control datepicker" id="dentist[{{ rownum }}][exit-date]"
                                       name="dentist[{{ rownum }}][exit_date]">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group has-feedback radio">
                            Is the doctor currently or going on leave?
                            <div class="radio">
                                <label for="dentist[{{ rownum }}][leave-yes]">
                                    <input type="radio" name="dentist[{{ rownum }}][leave-yes]" id="dentist[{{ rownum }}][leave-yes]" value="Y">
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label for="dentist[{{ rownum }}][leave-no]">
                                    <input type="radio" name="dentist[{{ rownum }}][leave-no]" id="dentist[{{ rownum }}][leave-no]" value="N">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="dentist[{{ rownum }}][leave-start-date]" class="control-label">Leave start date:</label>
                            <div class="inline-feedback input-group">
                            <span class="input-group-addon input-group-override">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control datepicker" id="dentist[{{ rownum }}][leave-start-date]"
                                       name="dentist[{{ rownum }}][leave-start-date]">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group has-feedback has-feedback-left">
                            <label for="dentist[{{ rownum }}][leave-end-date]" class="control-label">Leave end date:</label>
                            <div class="inline-feedback input-group">
                            <span class="input-group-addon input-group-override">
                                    <i class="fa fa-calendar"></i>
                                </span>
                                <input type="text" class="form-control datepicker" id="dentist[{{ rownum }}][leave-end-date]"
                                       name="dentist[{{ rownum }}][leave-end-date]">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</script>
{% endverbatim %}


        <div id="dentist-div">
            <table class="table">
                <tbody>
                </tbody>
            </table>
        </div>

        <div class="dentist-button-row">
            <a class="btn btn-default repeat-dentist pull-right"><i class="fa fa-plus"></i> Add Dentist</a><br>
        </div>

        {#<div class="hygienist-section">#}
        {#<h2 id="hygienist-details">Hygienist 1 Details</h2>#}
        {#<div class="row">#}
        {#<div class="form-group col-sm-5">#}
        {#<label for="hygienist-name" class="control-label">Hygienist Full Name</label>#}
        {#<input type="text" class="form-control" id="hygienist-name" name="hygienist-name" placeholder="Full Name">#}
        {#</div>#}

        {#<div class="form-group col-sm-7">#}
        {#<label for="hygienist-provider-num" class="control-label">DentalVision Provider Number (6 digits)</label>#}
        {#<input type="text" class="form-control" id="hygienist-provider-num" name="hygienist-provider-num" placeholder="000000">#}
        {#</div>#}
        {#</div>#}

        {#</div>#}

        <div class="hygienist-button-row">
            <a class="btn btn-default repeat-hygienist pull-right"><i class="fa fa-plus"></i> Add Hygienist</a><br>
        </div>
        <button type="submit" class="btn btn-orange  pull-right">Next <i class="fa fa-chevron-right"></i></button>
    </form>
    {#<a class="btn btn-orange  pull-right" href="{{ site.uri.public }}/intake/npie">Next ></a>#}


{% endblock %}



{% block scripts_page %}
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.js"></script>

    <!-- Include validation rules -->
    <script>
        {% include "pages/partials/page.js.twig" %}
    </script>

    <!-- Include page-specific JS -->
    {{ assets.js('js/intake') | raw }}
    {#{{ assets.js('js/form-widgets') | raw }}#}
    {{ assets.css('css/form-widgets') | raw }}

    <script>

        $('.datepicker').datepicker();

        $('body').on('focus', ".datepicker", function () {
            $(this).datepicker();
        });

        function recountSection(elem, rowNum) {
            var div = $(elem).next().find("uf-collection-row");
            console.log(div);
                // if ($(".uf-collection-row:gt(0)")) {
                //     $(".dentist-section").each(function (rowNum) {
                //     r = rowNum + 1;
                //     $(this).find('h2').attr('id', function (r, val) {
                //         // val = val.substr(0, val.lastIndexOf('-'));
                //         console.log("val: "+val);
                //         val = val.substr(0, val.indexOf("["));
                //         console.log("val2: "+val);
                //         return val + "-" + r;
                //     }).html("Dentist " + r + " Details");

                    // $(this).find(':input').attr('id', function (j, val) {
                    //     val = val.substr(0, val.lastIndexOf('-'));
                    //     return val + "-" + i;
                    // });
                    //
                    // $(this).find('label').attr('for', function (j, val) {
                    //     val = val.substr(0, val.lastIndexOf('-'));
                    //     return val + "-" + i;
                    // });

                // })
            // }
        }

        // Collections
        $('.repeat-dentist').click(function () {
            $('#dentist-div').ufCollection('addRow');
        });

        $('#dentist-div').ufCollection({
            useDropdown: false,
            rowTemplate: $('#dentist-details-row').html()
        });


        //submit form
        $(".intake").ufForm({
            validators: page.validators.intake,
            msgTarget: $("#alerts-page")
        }).on("submitSuccess.ufForm", function (event, data, textStatus, jqXHR) {
            window.location.replace(site.uri.public + "/intake/npie");
        }).on("submitError.ufForm", function (event, data, textStatus, jqXHR) {
            console.log(textStatus);
        });


        // alias required to cRequired with new message
        $.validator.addMethod("cRequired", $.validator.methods.required,
            "Customer name required");
        // alias minlength, too
        $.validator.addMethod("cMinlength", $.validator.methods.minlength,
            // leverage parameter replacement for minlength, {0} gets replaced with 2
            $.validator.format("Customer name must have at least {0} characters"));
        // combine them both, including the parameter for minlength
        $.validator.addClassRules("customer", {cRequired: true, cMinlength: 2});

    </script>

{% endblock %}
