{% extends "pages/abstract/default.html.twig" %}
{% set page_active = "search" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("Offices") }}{% endblock %}


{% block body_matter %}
    <div class="row">

        {% if keyword is defined %}
            {% if office %}
                {% for off in office %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="single">
                            {% if off.brand == "Midwest" %}
                                <img src="{{ midwestLogo }}" alt="">
                            {% elseif off.brand == "Mondovi" %}
                                <img src="{{ mondoviLogo }}" alt="">
                            {% elseif off.brand == "Mountain" %}
                                <img src="{{ mountainLogo }}" alt="">
                            {% elseif off.brand == "Merit" %}
                                <img src="{{ meritLogo }}" alt="">
                            {% endif %}

                            <p>{{ off.city }}, {{ off.state }}</p>


                            {#<a href="{{ site.uri.public }}/office/{{ off.page_id }}/{{ off.city }}"#}
                            {#class="btn btn-outline-orange">#}
                            <a href="{{ site.uri.public }}/offices/o/{{ off.vanity_url }}" class="btn btn-orange-round">
                                View Office Information
                            </a>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-xs-12">
                    <p>Please try your search again.</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}



