{% extends "pages/abstract/default.html.twig" %}
{% set page_active = "search" %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("SEARCH") }}{% endblock %}


{% block body_matter %}
<div class="row">
    {% if get is defined %}
        {% if location is defined %}
            {#{% if results.office_name starts with location %}#}
            {#results<br>#}
            {#{{ results.office_name }}<br>#}
            {#{% else %}#}
            {#just location<br>#}
            {#{{ location }}<br>#}
            {#{% endif %}#}

            {% for off in office %}
                <div class="col-12 col-md-3">
                    <div class="single">
                        {% if off.brand == "Midwest" %}
                            <img src="{{ midwestLogo }}" alt="">
                        {% elseif off.brand == "Mondovi" %}
                            <img src="{{ mondoviLogo }}" alt="">
                        {% elseif off.brand == "Mountain" %}
                            <img src="{{ mountainLogo }}" alt="">
                        {% elseif off.brand == "Merit" %}
                            <img src="{{ meritLogo }}" alt="">
                        {% endif %}

                        <p>{{ off.city }}, {{ off.state }}</p>

                        <a href="{{ site.uri.public }}/office/?pageid={{ off.page_id }}&pagetitle={{ off.page_title }}" class="btn btn-outline-orange">
                        {#<a href="{{ site.uri.public }}/office/" class="btn btn-outline-orange">#}
                            View Office Information
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    {% endif %}

    {#results:<br>#}
    {#{{ results }}#}

    {#<br><br><br>#}

    {#office:<br>#}
    {#{{ office }}#}
    {#<br><br><br>#}

    {#merged:<br>#}
    {#{{ merged }}#}

{{ params }}

</div>
{% endblock %}

