{% extends "pages/abstract/dashboard.html.twig" %}

{% block stylesheets_page %}
    <!-- Page-specific CSS asset bundle -->
    {{ assets.css('css/form-widgets') | raw }}
{% endblock %}

{# Overrides blocks in head of base template #}
{% block page_title %}{{ translate("OFFICE", 1)}} | {{office[0].city}}, {{ office[0].state }}{% endblock %}

{% block page_description %}{{ translate("OFFICE.INFO_PAGE", {name: office[0].name}) }}{% endblock %}

{% block body_matter %}
    {% block group_box %}
    {% endblock %}
    <div class="row">
        <div class="col-lg-4">
            <div id="view-office">
                {% block user_box %}
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{translate('OFFICE.SUMMARY')}}</h3>
                        </div>
                        <div class="box-body box-profile">
                            {% if office[0].brand == "Midwest" %}
                                <img class="office-user-img img-responsive" src="{{midwestLogo}}" alt="{{office[0].name}}">
                            {% elseif office[0].brand == "Mondovi" %}
                                <img class="office-user-img img-responsive" src="{{mondoviLogo}}" alt="{{office[0].name}}">
                            {% elseif office[0].brand == "Mountain" %}
                                <img class="office-user-img img-responsive" src="{{mountainLogo}}" alt="{{office[0].name}}">
                            {% elseif office[0].brand == "Merit" %}
                                <img class="office-user-img img-responsive" src="{{meritLogo}}" alt="{{office[0].name}}">
                            {% endif %}


                            <h4 class="text-muted text-center"><a href="{{ office[0].page_url }}" target="_blank">View Website</a> • <a href="{{site.uri.public}}/offices/o/{{ office[0].vanity_url }}" target="_blank">View CEC Page</a></h4>


                            {% if 'email' not in fields.hidden %}
                                <hr>
                                <strong><i class="fa fa-envelope margin-r-5"></i> {{translate("EMAIL")}}</strong>
                                <p class="text-muted box-profile-property js-copy-container">
                                    <a href="mailto:{{office[0].email}}"><span class="js-copy-target">{{office[0].email}}</span></a>
                                    <i class="fa fa-copy uf-copy-trigger js-copy-trigger"></i>
                                </p>
                            {% endif %}

                            {% if 'phone' not in fields.hidden %}
                                <hr>
                                <strong><i class="fa fa-phone margin-r-5"></i> Phone</strong>
                                <p class="text-muted box-profile-property js-copy-container">
                                    <span class="js-copy-target">{{office[0].phone}}</span>
                                    <i class="fa fa-copy uf-copy-trigger js-copy-trigger"></i>
                                </p>
                            {% endif %}

                            {% if 'fax' not in fields.hidden %}
                                <hr>
                                <strong><i class="fa fa-phone margin-r-5"></i> Fax</strong>
                                <p class="text-muted box-profile-property js-copy-container">
                                    <span class="js-copy-target">{{office[0].fax}}</span>
                                    <i class="fa fa-copy uf-copy-trigger js-copy-trigger"></i>
                                </p>
                            {% endif %}

                            {% if 'address' not in fields.hidden %}
                                <hr>
                                <strong><i class="fa fa-map-marker margin-r-5"></i> Address</strong>
                                <p class="text-muted box-profile-property js-copy-container">
                                    <a href="{{ office[0].map_url }}" target="_blank"><span class="js-copy-target">{{office[0].address}}, {{office[0].city}}, {{office[0].state}} {{office[0].zip}}</span></a>
                                    <i class="fa fa-copy uf-copy-trigger js-copy-trigger "></i>
                                </p>
                            {% endif %}

                            {% if 'directions' not in fields.hidden %}
                                <hr>
                                <strong><i class="fa fa-map margin-r-5"></i> Directions</strong>
                                <p class="text-muted box-profile-property js-copy-container">
                                    {{office[0].directions}}

                                </p>
                            {% endif %}

                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>

            <div class="col-lg-8">

                    {#<div id="widget-office-doctors" class="box box-primary">#}
                        {#<div class="box-header">#}
                            {#<h3 class="box-title"><i class="fa fa-fw fa-tasks"></i> Doctors</h3>#}
                            {#{% include "tables/table-tool-menu.html.twig" %}#}
                        {#</div>#}
                        {#<div class="box-body">#}
                            {#{% include "tables/office-doctors.html.twig" with {#}
                                {#"table" : {#}
                                    {#"id" : "table-offices-doctors"#}
                                {#}#}
                            {#}#}
                            {#%}#}
                        {#</div>#}
                    {#</div>#}
                <div id="widget-doctors" class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title pull-left"><i class="fa fa-fw fa-user"></i> Doctors
                        </h3>
                        {% include "tables/table-tool-menu.html.twig" %}
                    </div>
                    <div class="box-body">
                        {% include "tables/office-doctors.html.twig" with {
                            "table" : {
                                "id" : "table-doctors"
                            }
                        } %}
                    </div>

                </div>


                {#<div id="myUserTable" class="box box-primary">#}
                    {#<div class="box-header">#}
                        {#<h3 class="box-title pull-left"><i class="fa fa-fw fa-user"></i> Members</h3>#}
                        {#{% include "tables/table-tool-menu.html.twig" %}#}
                    {#</div>#}
                    {#<div class="box-body">#}
                        {#{% include "tables/office-doctors.html.twig" with {#}
                            {#"table" : {#}
                                {#"id" : "office-doctors"#}
                            {#}#}
                        {#}#}
                        {#%}#}
                    {#</div>#}
                {#</div>#}

            </div>

    </div>

{% endblock %}
{% block scripts_page %}


    <!-- Include form widgets JS -->
    {{ assets.js('js/form-widgets') | raw }}

    <!-- Include page-specific JS -->
    {{ assets.js('js/office') | raw }}


    <!-- Include page variables -->
    <script>
        {% include "pages/partials/page.js.twig" %}
    </script>
{% endblock %}
