<footer class="main-footer">
    &copy; <a href="{{site.uri.public}}">Midwest Dental CEC</a>, {{ "now"|date("Y") }}.
    {#<div class="hidden-xs">#}
        {#{{ translate("BUILT_WITH_UF") | raw }} &middot;#}
        {#<a href="{{site.uri.public}}/legal">{{ translate("TOS") }}</a> &middot;#}
        {#<a href="{{site.uri.public}}/privacy">{{ translate("PRIVACY") }}</a>#}
    {#</div>#}
</footer>
